@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');  /* Import Poppins font */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #4B4B4A;  /* Main background color */
  --foreground: #ffffff;  /* Text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;  /* Updated font family to include Poppins */
}
