@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #464343;  /* Main background color */
  --foreground: #ffffff;  /* Text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #404040;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
